.active-label{
	margin-bottom: 10px;
}

.buttons-wrap{
	display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.btn-group{
	display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
}

.top-fixed{
	margin-bottom: 20px;
}

.top-fixed .text{
	font-size: 2em;
}